# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class
.Python

# Virtual environments
.venv/
.venv
venv/
env/
ENV/
env.bak/
venv.bak/

# Environment variables
.env

# Uploads
app/static/uploads/

# IDE
.vscode/
.idea/

# Databases
*.sqlite3
*.db
instance/

# Test & type-check cache
.pytest_cache/
.mypy_cache/

# macOS
.DS_Store

# Pyright / Pylance output
pyrightconfig.json
